<h1>Add Employee</h1>
<form (ngSubmit) = "onFormSubmit()" [formGroup]= "employeeForm">
  <div class="input">
  <label>Employee Id: </label>
  <input type="text" formControlName="id" >
</div>
<div class="input">
  <label>Employee Name: </label>
  <input type="text" formControlName="employeeName" >
  <span *ngIf="!employeeForm.get('employeeName').valid && employeeForm.get('employeeName').touched">employee name is not correct</span>
</div>
<div class="input">
  <label>Salary: </label>
  <input type="text" formControlName="Salary" >
  <span *ngIf="!employeeForm.get('Salary').valid && employeeForm.get('Salary').touched">salary is not correct</span>
</div>
<div class="input">
  <label>Department: </label>
  <select formControlName="dept">
    <option>HR</option>
    <option>IT</option>
  </select>
</div>
<div class="input">
  <label>Gender: </label>
    <select formControlName="gender">
      <option value="M">Male</option>
      <option value ="F">Female</option>
    </select>
  </div>

  <button type="submit">Submit</button>
  <button type="reset">Cancel</button>
  </form>
