

<mat-toolbar>
  <span>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated"><mat-icon>L</mat-icon>Login</button>
  </span>
  <span>
    <button mat-button routerLink="/home"><mat-icon>H</mat-icon>Home</button>
  </span>
  <span>
    <button mat-button routerLink="/employee"><mat-icon>E</mat-icon>Employees</button>
  </span>
  <span>
    <button mat-button *ngIf="isAuthenticated" (click) = "LogOut()" type="button">
      <mat-icon>Log out</mat-icon>LogOut
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>

